<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>

    <h2>Edit <%=game.name%></h2>
    <form method="POST" action="/games/<%=game.id%>?_method=PUT">
    
        <label>
            <span>Name:</span>
            <input type="text" name="name" value="<%=game.name%>" />
        </label>
        
        <label>
            <span>Platform:</span>
            <input type="text" name="platform" value="<%=game.platform%>" />
        </label>

        <label>
            <span>Description:</span>
            <input type="text" name="description" value="<%=game.description%>" />
        </label>
        
        <label>
            <span>Year Released:</span>
            <input type="number" name="year" value="<%=game.year%>" />
        </label>
        
        <label>
            <span>Image:</span>
            <input type="text" name="img" value="<%=game.img%>" />
        </label>

        <label>
            <span>Price:</span>
            <input type="number" name="price" value="<%=game.price%>" />
        </label> 

        <label>
            <span>Quantity:</span>
            <input type="number" name="qty" value="<%=game.qty%>" />
        </label>
        <br>
        <br>
    
        <input type="submit" value="Submit Changes" />
    </form>
</main>


<%- include('./partials/footer.ejs') %>